header{
  color:white;
  padding-left:20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  border:1px solid black;
}
nav{
  display:flex;
  align-items:center;
  justify-content:space-between; 
  padding:5px 10px;
}
nav ul{
  display: flex;
  gap:30px;
}
ul{
  list-style-type:none;
  margin:0;
}
ul li a{
  color:white;
  padding:14px;
  text-decoration:none;
}
.logo{
  display:flex;
  align-items:center;
  gap:15px;
}
.logo img{
  height:2rem;
  width:2rem;
  padding-top:2px;
  padding-left:10px;
}
img{
  height:30rem;
  width:78rem;
  background-position:left;
}
div{
  margin-bottom:-4px;
}
.hero-text{
  text-align:left;
  position:absolute;
  top:57%;
  right:65%;
  color:white;
}
.hero-text button{
  padding:10px 25px;
  color:black;
  background-color:rgb(167, 214, 91);
  border-radius:5px;
}
.hero-text button:hover{
  background-color:rgb(56, 130, 67);
  color:white;
}
.intro{
text-align:center;
border: 1px solid black;
}
@media screen and (max-width:767px){
  header{
    background-color: rgb(29, 137, 210); 
    border: 1px solid black;
  }
  nav{
    flex-direction:column;
    gap:20px;
  }
  nav ul{
    flex-direction:column;
    gap:15px;
    padding-right:80px;
  }
  .hero-text button{
    background-color:rgb(29, 137, 210);
  }
  .hero-text button:hover{
    background-color:rgb(8, 72, 115);
  }
}
@media screen and (min-width:768px){
  header{
    background-color: rgb(167, 214, 91);
  }
}